.header{
    width: 1200px;
    height: 100px;
    background: rgb(27, 190, 82);
    margin:0 auto;
}
.logo{
    float: left;
}

.logo img{
    width: 80px;
    height: 100px;
}


.menu{float: right;

}

